*,
:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #cdd0f8;
}

a.marker {
  position: absolute;
  text-decoration: none;
  color: #dcdcd0aa;
  font-weight: bold;
  transform: translateX(-1em);
}

a.marker:hover {
  color: #dcdcd0;
}

.progress {
  z-index: 30;
  top: 0;
  left: 0;
  display: block;
  background-color: #fefefd;
  position: fixed;
  width: 0vw;
  height: 0.5rem;

  animation-name: readprogress;
  animation-duration: auto;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@keyframes readprogress {
  from {
    width: 0;
    background-color: #fefefd;
  }

  to {
    width: 100vw;
    background-color: #57a64a;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  align-items: center;
  font-family: "Merriweather", "Times New Roman", Times, serif;

  color: #dcdcd0;
  background-color: #161516;
}

body header {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-family: "Cascadia Code Italic";
  font-style: italic;
}

#aside-menu {
  z-index: 1;
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
  font-size: 10pt;
  position: fixed;
  padding: 20px;
  align-self: start;
  top: 200px;
  left: calc(50vw - 500px - 180px);

  display: none;

  & a {
    text-decoration: none;
    color: #dcdcd0;
  }

  & a {
    opacity: 40%;
  }

  & a:hover {
    opacity: 100%;
  }

  & ul {
    list-style-type: none;

    & ul {
      padding-inline-start: 16px;
    }
  }
}

@media only screen and (min-width: 1360px) {
  #aside-menu {
    display: block;
  }
}

.anchor-target {
  top: -3em;
  position: relative;
  visibility: hidden;
}

.anchor-target:has(+ h2) {
  top: 0;
  color: blue;
}

h2 {
  top: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: #161516;
  position: sticky;
  z-index: 3;
}

body main {
  width: min(100%, 1000px);
  display: block;
  padding-inline: 1rem;
  background-color: inherit;
  line-height: 1rem;
}

p,
pre,
h3 {
  transition-property: opacity;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}

main:hover {
  & p,
  & pre,
  & h3 {
    opacity: 40%;
  }
}

main:hover {
  & p:hover,
  & pre:hover,
  & h3:hover {
    opacity: 100%;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./_fonts/CascadiaCode.woff2");
}

@font-face {
  font-family: "Cascadia Code Italic";
  src: url("./_fonts/CascadiaCodeItalic.woff2");
}

@font-face {
  font-family: "Merriweather";
  src: url("./_fonts/Merriweather-Regular.ttf");
}

code {
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
}

pre {
  margin-block-end: 1rem;
}

p {
  margin-block: 1rem;
}

hr {
  margin-block: 2rem;
}
