*,
:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-col);
}

a.marker {
  position: absolute;
  text-decoration: none;
  color: var(--fg-col) aa;
  font-weight: bold;
  transform: translateX(-1em);
}

a.marker:hover {
  color: var(--fg-col);
}

.progress {
  z-index: 30;
  top: 0;
  left: 0;
  display: block;
  background-color: #fefefd;
  position: fixed;
  width: 0vw;
  height: 0.5rem;

  animation-name: readprogress;
  animation-duration: auto;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@keyframes readprogress {
  from {
    width: 0;
    background-color: var(--progress-col-a);
  }

  to {
    width: 100vw;
    background-color: var(--progress-col-b);
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

:root {
  --link-col: cdd0f8;
  --progress-col-a: #fefefd;
  --progress-col-b: #57a64a;
  --bg-col: #161516;
  --fg-col: #dcdcd0;
  --code-bg-col: #1e1e1e;
  --code-fg-col: #dcdcdc;

  /* --link-col: #4049c3;
  --progress-col-a: #fefefd;
  --progress-col-b: #57a64a;
  --bg-col: #fcfcf0;
  --fg-col: #3d3d30;
  --code-bg-col: #efefda;
  --code-fg-col: #1f1f1c; */
}

html {
  background-color: var(--bg-col);
}

body {
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  align-items: center;
  font-family: "Merriweather", "Times New Roman", Times, serif;

  color: var(--fg-col);
}

body header {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

body footer {
  height: 200px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-family: "Cascadia Code Italic";
  font-style: normal;
}

#aside-menu {
  z-index: 1;
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
  font-size: 10pt;
  position: fixed;
  padding: 20px;
  align-self: start;
  top: 200px;
  left: calc(50vw - 500px - 200px);

  display: none;

  & a {
    text-decoration: none;
    color: var(--fg-col);
  }

  & li {
    opacity: 60%;
  }

  & li:hover {
    opacity: 100%;
  }

  & ul {
    list-style-type: none;
  }
}

@media only screen and (min-width: 1360px) {
  #aside-menu {
    display: block;
  }
}

.anchor-target {
  top: -3em;
  position: relative;
  visibility: hidden;
}

.anchor-target:has(+ h2) {
  top: 0;
}

h2 {
  top: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--bg-col);
  position: sticky;
  z-index: 3;
}

body main {
  width: min(100%, 1000px);
  display: block;
  padding-inline: 1rem;
  background-color: inherit;
}

p,
pre,
h3 {
  transition-property: opacity;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}

main:hover {
  & p,
  & pre,
  & h3 {
    opacity: 40%;
  }
}

main:hover {
  & p:hover,
  & pre:hover,
  & h3:hover {
    opacity: 100%;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./_fonts/CascadiaCode.woff2");
}

@font-face {
  font-family: "Cascadia Code Italic";
  src: url("./_fonts/CascadiaCodeItalic.woff2");
}

@font-face {
  font-family: "Merriweather";
  src: url("./_fonts/Merriweather-Regular.ttf");
}

code {
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
}

pre {
  padding-block-end: 1rem;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--code-bg-col);
  color: var(--code-fg-col);
}

p {
  padding-block: 0.5rem;
}

hr {
  padding-block: 1rem;
}
