
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@font_code: 'Cascadia Code', sans-serif;
@font_main: 'Poppins';

// Colors

@color_bg: #fafafa;
@color_bg_highlight: #7773;
@color_fg: #333333;
@color_shadow: #77777733;
@color_primary: #eb4e60;
@color_secondary: #48aeed;

.dark {
	background-color: #000;
	color: #fdfdfd;
}

.shadow {
	box-shadow: 0px 0px 100px @color_shadow;
}

a {
	color: @color_bg;
	background-color: @color_primary;
	outline-color: @color_primary;
	outline-style: solid;
	outline-width: 1px;
	font-weight: bold;
	text-decoration: underline;
	padding: 8px;

	cursor: pointer;
}

a:hover {
	background-color: @color_bg;
	color: @color_secondary;
	outline-color: @color_secondary;
	text-decoration: none;
}

a.special {
	color: @color_fg;
	background-color: transparent;
	padding: initial;
	outline: initial;
	text-decoration: none;
}

a.special:hover {
	text-decoration: underline;
}

.quote {
	background-color: @color_bg_highlight;
	padding: 20px;
}

// Basic Spacing Components

html {
	box-sizing: border-box;
	cursor: default;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: @color_bg;
	color: @color_fg;
	font-family: @font_main;

	font-size: 1.5em;

	@media only screen and (max-width: 1000px) {
		font-size: 2.5vmin;
	}

	::-webkit-scrollbar-track {
		background-color: #000;
	}
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  translate: -50%;
}

.horizontal-center {
	margin: 0;
	position: absolute;
	left: 50%;
	translate: -50%;
  }


.header {
	display: block;
	width: 100vw;
	height: 100vh;
	text-align: center;

	.content {
		position: absolute;
		top: 40%; left: 50%;
		translate: -50% -40%;
	}
}

.post {
	display: block;
	padding-top: 100px; padding-bottom: 100px;
	overflow-wrap: break-word;

	.content {
		margin: auto;
		display: block;
		max-width: 1200px;

		.flex {
			display: flex;
			gap: 64px;
			padding-left: 50px; padding-right: 50px;
		}

		.reverse {
			flex-direction: row-reverse;
		}

		@media only screen and (max-width: 1000px) {
			.responsive {
				flex-direction: column;
				display: flex;
				gap: 64px;
				padding-left: 50px; padding-right: 50px;

				h1 {
					text-align: center;
				}
				h2 {
					text-align: center;
				}
				h3 {
					text-align: center;
				}
			}
		}
	}
}

.skinny {
	padding-top: 32px; padding-bottom: 32px;
}

.footer {
	display: block;
}

.text-center {
	text-align: center;
}

// Site-building classes

pre {
	display: block;
	font-family: @font_code;
}

iframe {
	border: none;
	outline: none;
}

iframe.special {
	border-radius: 20px;
	.shadow();
	display: block;
	margin:auto;
	width: 30vw;
	height: 20vw;

	@media only screen and (max-width: 1000px) {
		width: 90vw;
		height: 60vw;
	}
}

iframe.include {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 25px #4446;
	cursor: pointer;

	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.circle:hover {
	scale: 1.2;
}

.navlist {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.gallery {
	display: flexbox;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-size: 0;
}

.gallery-item {
	display: inline-block;
	flex: 1 1 fit-content;
	width: fit-content;
	height: fit-content;

	img {
		height: 15vw;
		width: auto;
		margin: auto;
		user-select: none;
	}
}

.gallery-item:hover {
	z-index: 9 !important;
}

// Extra Normalizations

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

ul {
	text-decoration: none;
	list-style-type: none;
}
