<!DOCTYPE html>
<html style="background-color:#130c0d;">

<head>
    <title>(Page Not Found)</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Inner Voices">
    <meta property="og:url" content="https://mrpedrobraga.com/inner-voices">
    <meta property="og:image" content="https://mrpedrobraga.com/public/inner-voices/images/opengraph-image.png">
    <meta property="og:description"
        content="A charming psychological fantasy RPG about the differences between human minds.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="style" href="/public/inner-voices/ui.css" />
    <link rel="preload" as="image" href="/public/inner-voices/images/main-logo.png">
    <link rel="preload" as="image" href="/public/inner-voices/images/ui-box.png">
    <link rel="preload" as="image" href="/public/inner-voices/images/ui-dialogue-box.png">
    <link rel="stylesheet" href="/public/inner-voices/ui.css">
</head>

<body class="not-found">
    <div class="dialogue-box">
        <span>{{content}}</span>
        <div class="option">
            <div class="icon"></div>
            <a href="/inner-voices">Go Back</a>
        </div>
    </div>
</body>

</html>