:root,
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    background-color: #222222;
    image-rendering: pixelated;
    color: #fefefd;
    caret-shape: block;
}

@font-face {
    font-family: "Anima Sans";
    src: url("/public/fonts/Anima\ Sans.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/public/fonts/JetBrainsMono.woff2");
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "JetBrainsMono";
}
