:root {
    font-size: 16px;
    --fg: #ebebeb;
    --bg: #111111;
}

html {
    background-color: var(--bg);
    color: var(--fg);
}

body {
    font-family: "Nunito";
    align-items: center;
}

header {
    width: 100%;
    padding-block: 2rem;
    background:
        linear-gradient(#42bff508, #2e6fc911),
        url("./images/promo/sol-2.png") center;
    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;
}

.window {
    display: flex;
    flex-direction: column;
    border-top: 4px solid #bbbbbb;
    border-left: 4px solid #bbbbbb;
    border-right: 4px solid #888888;
    border-bottom: 4px solid #888888;

    box-shadow: var(--shadow-elevation-high);
}

.window.terminal {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "JetBrains Mono";
}

.window .titlebar {
    background: linear-gradient(270deg, #2a6ed4, #1b46c4);
    height: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #888888;
    padding: 0.125rem;
    gap: 0.125rem;
}

.window_title {
    padding-inline: 0.5rem;
    flex-grow: 1;
    font-family: "sans-serif";
    font-size: 0.8rem;
}

.button {
    background-color: #dddddd;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #888888;
    border-bottom: 2px solid #888888;
    width: 1.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.25rem;
    font-size: 0.8rem;
    color: black;
    user-select: none;
    cursor: pointer;
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    padding: 0.25rem;
    padding-right: 0.5rem;
    height: 180px;
}

#profile_picture {
    height: 100%;
    background-color: var(--bg);
    transition-duration: 200ms;
}

main {
    padding-inline: 1rem;
    width: 100%;
    max-width: 1000px;
    padding-block-start: 1rem;

    font-family: "JetBrains Mono";
}

main pre {
    text-wrap: wrap;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

nav a {
    display: inline-grid;
    color: #00ff88;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a.dir {
    color: #0088ff;
}

.green {
    color: #00ff88;
}

.faded {
    opacity: 50%;
}

.caret {
    display: inline-block;
    margin-inline-start: 0.5rem;
    width: 0.5rem;
    height: 1rem;
    background-color: var(--fg);
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.prompt {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    caret-shape: block;
}
