a.gamethumb {
	
	display:inline-block;
	margin:5px;
	padding:10px;
	width:150px; height:150px;
	box-shadow: 0 0 20px #aaa;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:500ms;
}

div.selection {
	
	overflow-x:scroll;
}