:root {
    --bg-color: #f6f0d7;
    --fg-color: #3c230b;
    --fg-accent: #b61c7b;

    --tag-bg-color: #e0d9bf;
    --inline-code-bg-color: #e0d9bf;
    --block-code-bg-color: #e0d9bf;
}

/* :root {
    --bg-color: #f2f0e0;
    --fg-color: #292621;
    --fg-accent: #af225a;

    --tag-bg-color: #d7dfa4;
    --inline-code-bg-color: #f1d4cb;
    --block-code-bg-color: #efd8cd;
} */