*,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}