<html>

<head>
    <title>mrpedrobraga.com</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="mrpedrobraga - Home">
    <meta property="og:url" content="https://mrpedrobraga.com">
    <meta property="og:image" content="">
    <meta property="og:description" content="Pedro Braga — Software Engineer, Game Developer, total nerd!">
    <link rel="stylesheet" href="/public/main.css" />
</head>

<body>
    <header class="hero">
    </header>
    <main>
        <p>Greetings!</p>
        <p>I'm Pedro, a Software Engineer based on Brazil.</p>
    </main>
    <footer>
        Made with code by Pedro Braga
    </footer>
</body>

</html>