<html>
    <head>
        <title>mrpedrobraga.com</title>
        <meta property="og:type" content="website">
        <meta property="og:title" content="mrpedrobraga - Home">
        <meta property="og:url" content="https://mrpedrobraga.com">
        <meta property="og:image" content="">
        <meta property="og:description" content="A cozy, nerdy, little corner of the web!">
        <link rel="stylesheet" href="/public/main.css" />
    </head>
    <body>
        <main>
            <h1>mrpedrobraga</h1>
            <p>Welcome!</p>
            <br>
            <p>Meanwhile, you might know me from:</p>
                <ul>
                    <li><a href="https://dreamedaway.com">Dreamed Away</a>, where I'm a programmer AND an NPC;</li>
                    <li><a href="https://mrpedrobraga.itch.io/modot-distortionator">Distortionator</a>, the battle background editor for <a href="https://motherencore.com">Mother Encore</a>;</li>
                    <li><a href="https://mrpedrobraga.itch.io/inner-voices">Inner Voices</a>, my upcoming RPG that I have been quaintly hinting at on social media.</li>
                </ul><br>
            <p>You might be interested in:</p>
            <ul>
                <li><a href="https:/qgithub.com/mrpedrobraga/ui-composer">UI Composer - a functional-reactive UI renderer for powerful UI rendering;</a></li>
                <li><a href="https://github.com/mrpedrobraga/femto-ts">Femto - an experimental FRP library for writing UIs in JavaScript;</a></li>
                <li><a href="https://github.com/mrpedrobraga/joytype">JoyType - an experimental approach at a typing with joysticks;</a></li>
                <li><a href="https://godotengine.org/asset-library/asset?filter=mrpedrobraga&category=&godot_version=&cost=&sort=updated">Any of my Godot plugins?</a>
                <li>...or any of the other experiments at my GitHub</li>
            </ul><br>
            <p>You can find me at:</p>
            <ul>
                <li><a href="https://github.com/mrpedrobraga">GitHub - mrpedrobraga;</a></li>
                <li><a href="https://bsky.app/profile/mrpedrobraga.com">Bluesky - mrpedrobraga.com;</a></li>
                <li><a href="https://discordapp.com/users/346656101753815041">Discord - mrpedrobraga;</a></li>
                <li><a href="mailto:mrhenribraga@gmail.com?subject=hiring%20you%20for%20100000%20dollars">Email - mrhenribraga@gmail.com;</a></li>
                <li><a href="https://mrpedrobraga.itch.io/">Itch - mrpedrobraga;</a></li>
                <li><a href="https://www.shadertoy.com/profile/?show=shaders">...and Shadertoy? I guess?;</a></li>
            </ul>
        </main>
    </body>
</html>
