<html>

<head>
    <title>mrpedrobraga.com — Blog</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="mrpedrobraga - Blog">
    <meta property="og:url" content="https://mrpedrobraga.com/blog">
    <meta property="og:image" content="">
    <meta property="og:description" content="Pedro Braga's Blog on Game Development and Computer Science">
    <link rel="stylesheet" href="/public/main.css" />
</head>

<body class="light-mode">
    <header>
    </header>
    <main>
        <p>Blogs are cool, aren't they?</p>
    </main>
    <footer>
        Made with code by Pedro Braga
    </footer>
</body>

</html>