<!DOCTYPE html>
<html style="background-color:#130c0d;">

<head>
    <title>Inner Voices</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Inner Voices — ...">
    <meta property="og:url" content="https://mrpedrobraga.com/inner_voices">
    <meta property="og:image" content="https://mrpedrobraga.com/public/images/favicon.png">
    <meta property="og:description" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/public/inner_voices/ui.css" />
    <link rel="preload" as="image" href="/public/inner_voices/images/ui-dialogue-box.png">
    <link rel="stylesheet" href="/public/inner_voices/ui.css">
</head>

<body class="not-found">
    <div class="dialogue-box">
        <span>{{content}}</span>
        <div class="option">
            <div class="icon"></div>
            <a href="/inner_voices">Go Back</a>
        </div>
    </div>
</body>

</html>